html, body {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}

header {
    position: fixed;
    width: 100%;
}

.main-header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.main-header img {
    width: 150px;
}

nav {
    border: 1px solid rgb(237, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    position: relative;
    width: 30em;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 50px;
}

.search-container input {
    font-family: "Lexend", sans-serif;
    width: 80%;
    padding: 12px 15px 12px 15px;
    border: none;
    border-radius: 50px;
}

.search-container input:focus {
    outline: none;
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.search-btn button {
    cursor: pointer;
    background: none;
    border: none;
}

.search-btn #clearSearch {
    display: none;
}

nav .link-container ul {
    padding: 0;
    display: flex;
    margin-left: 30px;
}

nav .link-container ul li {
    list-style: none;
    margin: 0 10px;
}

nav .link-container ul li a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .link-container ul li a p {
    position: relative;
    font-size: 12px;
    margin: 0;
}

.burger-menu {
    display: none;
}

#burger-icon {
    transition: transform 1s ease;
}

.burger-menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.product-container {
    position: relative;
    width: 100%;
    background: #FFE484;
}

.product-container .ul-product {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.product-container .ul-product .li-product {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style: none;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0px;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #f1c046;
}

.product-container .ul-product .li-product:last-child {
    border-right: none;
}

.product-container .ul-product .li-product a {
    text-decoration: none;
    color: black;
}

.product-container .ul-product .li-product a span {
    display: block;
}

.item-container {
    position: absolute;
    top: 100%;
    margin: 5px 0px;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.li-product:nth-child(n+6) .item-container {
    left: auto;
    right: 0;
}

.item-container .ul-item {
    cursor: auto;
    display: none;
    position: relative;
    padding: 0;
}

.item-container .ul-item .li-item {
    cursor: pointer;
    list-style: none;
    margin: 15px 30px 15px 30px;
    font-size: 14px;
    font-weight: 400;
    width: 200px;
    text-align: start;
    border: 1px solid red;
}

.li-product:hover .ul-item {
    display: flex;
}

@media only screen and (max-width:905px) {
    nav .link-container ul li {
        margin: 0 15px;
    }
    nav .link-container ul li a p {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    .product-container {
        position: absolute;
        display: none;
        background: none;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        animation: animFromLeft 1s forwards;
    }
    @keyframes animFromLeft {
        from {
            left: -100%;
            opacity: 0;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }
    .product-container .ul-product {
        display: block;
    }
    .product-container .ul-product .li-product {
        font-size: 13px;
        margin: 0px 10px;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid rgb(234, 232, 232);
        border-right: none;
    }
    .product-container .ul-product .li-product a span {
        display: none;
    }
    .product-container.show {
        display: block;
    }
}

@media only screen and (max-width:700px) {
    nav {
        padding: 10px 0 0 0;
        flex-direction: column;
    }
    nav .link-container {
        display: flex;
    }
    nav .link-container ul {
        margin-left: 0;
    }
}